<h4 class="my-4">📰 Podría interesarte</h4>
<div id="news-cards">
    <div class="card mb-5 me-5" style="width: 200px;">
        <img class="card-img-top" src="assets/mozart-fake-new.jpg" alt="Card image cap">
        <div class="card-body">
        <p class="card-text">Documentos históricos podrían indicar que Mozart era Argentino.</p>
        </div>
    </div>
    <div class="card mb-5 me-5" style="width: 220px;">
        <img class="card-img-top" src="assets/ai-fake-new.jpg" alt="Card image cap">
        <div class="card-body">
        <p class="card-text">Nueva inteligencia artificial genera música en segundos. ¿Será este el fin de los artistas?</p>
        </div>
    </div>
    <div class="card mb-5 me-5" style="width: 220px;">
        <img class="card-img-top" src="assets/cat-fake-new.jpg" alt="Card image cap">
        <div class="card-body">
        <p class="card-text">Gato aprende a tocar la novena sinfonía de Beethoven y está listo para su primer recital</p>
        </div>
    </div>
    <div class="card mb-5 me-5" style="width: 220px;">
        <img class="card-img-top" src="assets/shakira-fake-new.png" alt="Card image cap">
        <div class="card-body">
            <p class="card-text">Shakira le dedica canción a Luis Suarez en una nueva colaboración con Bizarrap.</p>
        </div>
    </div>
</div>