$toolbar-height: 10vh;

#toolbar {
    position: sticky;
    height: $toolbar-height;
    min-height: $toolbar-height;
}

@media (max-width: 1024px) {
    #toolbar {
        height: fit-content;

        .show {
            padding-bottom: 15px;
        }
    }
}